/* Creates a small triangle extender for the tooltip */


.tipText {
    font-size: 12px;
    font-family: "Helvetica";

}

.d3-tip {
    line-height: 1;
    padding: 12px;
    background: #0b97c4;
    color: #fff;
    border-radius: 2px;
}



/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

